*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-family;
  color: $color-dark;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

footer{
  text-align: center;

  p{
    margin: 30px;
    font-size: 20px;
    color: rgb(80, 80, 80);
    font-weight: 600;
  }
}